services:
  db:
    image: postgres:16-alpine
    ports:
      - "54323:5432"
    environment:
      POSTGRES_DB: ojetp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ojetp-pgdata:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U postgres
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  ojetp-pgdata:
